body{
  font-family: Helvetica;
}

h1{
  font-size: 70px;
  font-weight: bold;
  font-size: 70px;
  color: white;
  text-align: center;
}

nav{
  background-image: url(/Users/angelachristian/bd/resources/images/the-flatiron-building.png)
}

h4{
  text-align: center;
  font-size: 18px;
  color: white;
}

h2{
  text-align: center;
  font-size: 32px;
  font-weight: bold;
}

h3{
  font-size: 23px;
  text-align: center;
  font-weight: bold;
}

.icon{
  text-align: center;
}

.description{
  font-size: 14px;
  text-align: center;
}

.middle{
  font-size: 32px;
  font-weight: bold;
  color: white;
  background-image: url(/Users/angelachristian/bd/resources/images/the-flatiron-building.png);
  text-align: center;
}

.footer{
  text-align: left;
  font-size: 11px
  color: white;
  background-color: dimgray;
}
